:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --basic-white-color: #ffffff;
    --basic-dark-color: #2F303A;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: var(--basic-white-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


/* hover focus */

.nav-link:hover,
.nav-link:focus,

.contacts-link-map:hover,
.contacts-link-map:focus,
.contacts-link-f:hover,
.contacts-link-f:focus {
    color: var(--accent-color);
}


/* ----- global style ----- */


.nav-link.current {
    color: var(--accent-color);

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.link {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* ----- header ----- */

/* logo */
.heder {
    border-bottom: 1px solid #ECECEC;
}

.heder-menu {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* outline: 2px solid tomato; */
}

.logo {
    margin-right: 93px;

    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.accent-logo {
    color: #000000;
}

/* nav */

.site-nav {
    display: flex;
}

.nav-item + .nav-item {
    margin-left: 50px;
}

.contacts-nav {
    display: flex;
    margin-left: auto;

}
.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.contacts-color {
    color: var(--primary-text-color);
}


/* ----- studia ----- */

/* content main */

.hero {
    background-color: var(--basic-dark-color);
    text-align: center;
}

.hero-title {
    margin-top: 0px;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--basic-white-color);
}

.hero-button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;

    cursor: pointer;
    border: transparent;

    background-color: var(--accent-color);
    color: var(--basic-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
}
.hero-button:hover,
.hero-button:focus {
    color: var(--accent-color);
    background-color: var(--basic-white-color);
}


.title-second {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--title-text-color);
}


/* benefits */

.benefits-list {
    display: flex;
    width: 1200px;
    align-items: flex-start;
    padding: 94px 15px;
    margin-right: auto;
    margin-left: auto;

    outline: 1px solid tomato;
}
.benefits-list: {
    
}

.benefits-item {
    outline: 1px solid tomato;
}

.benefits-item:not(:last-child) {
    margin-right: 30px;

}

.benefits-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.benefits-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* team */

.team {
    font-size: 16px;
    line-height: 1.18;
}
.team-title {
    font-weight: 500;
    color: var(--title-text-color);
}


/* ----- portfolio ----- */

.portfolio-objects {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 94px 15px;
}


/* button filter */

.filter{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.filter-item:not(:last-child) {
    margin-right: 8px;
}
.filter-button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--title-text-color);
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--basic-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


/* projects */

.projects {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.projects-item {
    width: 370px;
    margin: 15px;
    outline: 1px solid tomato;
}

/* .project-link {
    
} */

.img-portfolio {
    margin-bottom: 20px;
    display: block;
}

.title-portfolio {
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 24px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.text-portfolio {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 24px;

    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
}


/* ----- footer style ----- */

.page-footer{
    background-color: var(--basic-dark-color);
}

.footer-menu {
    width: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-menu .logo {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 20px;
}

.accent-logo-footer {
    color: var(--basic-white-color);
}

.contacts {
    font-style: normal;
}

.contacts-menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.contacts-link-map{
    color: var(--basic-white-color);
}

.contacts-link-f {
    color: rgba(255, 255, 255, 0.6);
}